<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center">

        <!-- LOGIN -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
            <p-card
              styleClass="mt-10"
              header="Login"
              subheader="Faça login com sua conta existente!"
              *ngIf="loginCard"
            >

              <div class="flex justify-content-center align-content-center text-align-center">
                <input type="username" formControlName="username" pInputText placeholder="Usuário" />
              </div>

              <div class="flex justify-content-center align-content-center text-align-center mt-3">
                <input type="password" pInputText formControlName="password" placeholder="Senha" />
              </div>

              <div class="card flex justify-content-center mt-3">
                <button type="submit" pButton pRiple label="Login" [disabled]="!this.loginForm.valid"></button>
              </div>
              <span
                class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
                style="cursor: pointer;"
                (click)="loginCard = !loginCard"
              > Criar Conta</span>

            </p-card>
        </form>

        <!-- SIGNUP -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSingUpForm()">
          <p-card
            styleClass="mt-10"
            header="Criar Conta"
            subheader="Crie já sua conta gratuita!"
            *ngIf="!loginCard"
          >

            <div class="flex justify-content-center align-content-center text-align-center">
              <input type="text" pInputText formControlName="nome" placeholder="Nome" />
            </div>

            <div class="flex justify-content-center align-content-center text-align-center">
              <input type="text" pInputText formControlName="numTelefone" placeholder="Telefone" />
            </div>

            <div class="flex justify-content-center align-content-center text-align-center">
              <input type="text" pInputText formControlName="cpf" placeholder="CPF" />
            </div>

            <div class="flex justify-content-center align-content-center text-align-center">
              <input type="number" pInputText formControlName="codPerfil" placeholder="Codigo Perfil" />
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="text" pInputText formControlName="username" placeholder="Usuário" />
            </div>

            <div class="flex justify-content-center align-content-center text-align-center mt-3">
              <input type="password" formControlName="password" pInputText placeholder="Senha" />
            </div>

            <div class="card flex justify-content-center mt-3">
              <button type="submit" pButton pRiple label="Criar Conta" [disabled]="!this.signupForm.valid"></button>
            </div>
            <span
              class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
              style="cursor: pointer;"
              (click)="loginCard = !loginCard"
            > Fazer Login</span>

          </p-card>
      </form>
    </div>
  </div>
</div>
